.main-messenger{
    .ant-list .ant-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 2px;
        color: rgba(0, 0, 0, 0.88);
        &:hover{
            cursor: pointer;
            background-color: rgba(231, 231, 231, 0.586);
        }
    }
}