.profile {
  .avatar {
    position: absolute;
    left: 50px;
    bottom: -30px;
    background-color: blanchedalmond;
    border-radius: 50%;
    border: 3px solid #ffff;
  }
  .info-detail {
  }

}
